<div class="container" style="max-width:500px;">
  <br>
  <% if defined?(@messages) %>
    <% @messages.each do |message| %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <% if defined?(@info) %>
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= @info %>
    </div>
  <% end %>
  <form action="/profile/<%= @username %>/settings" method="POST">
    <fieldset>
      <input type="hidden" name="description_update" value="0">
      <legend>Settings - <%= @username %></legend>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea name="description" class="form-control" id="inputDescription" rows="3" style="margin-top:0px;margin-bottom:0px;height:200px;"><%= @description %></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Description</button>
        <button class="btn btn-primary" disabled>It's a feature, not a bug.</button>
      </div>
      <p>PHP is 4 noobs.</p>
      <br>
      <div class="form-group">
        <a class="btn btn-primary" href="/profile/<%= @username %>/password">Change Password</a>
      </div>
    </fieldset>
  </form>
  <br>
  <form action="/profile/<%= @username %>/settings" method="POST" enctype="multipart/form-data">
    <fieldset>
      <input type="hidden" name="picture_update" value="1">
      <legend>Profile Picture</legend>
      <img src="/static/img/profile/<%= @username %>.png" style="max-width:300px;" alt="<%= @username %>'s Profile Picture">
      <div class="form-group inline-group">
        <label for="inputFile">Upload a Profile Picture</label>
        <input name="file" type="file" class="form-control-file" id="inputFile">
        <button type="submit" class="btn btn-primary mt-2">Upload</button>
      </div>
    </fieldset>
  </form>
  <p>I might have been drunk when I wrote this page.</p>
  <br>
</div>